* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar-style {
  box-shadow: 0 20px 20px rgb(240, 240, 240);
  background-color: red;
}
.logo {
  padding: 2px;
  margin: 5px;
}
.section-1 {
  display: flex;
}
.header-container{
    color: blue;
    margin: 0px 700px 0px 0px;
}
